<h1>Articles</h1>
 
  <% if @articles.blank? %>
    <h2 class ="results">No results Found </h2>
  <% else %>
  <% @articles.each do |article| %>
    <div class="container">
      <%= link_to article.title, article_path(article) %>
      <br><br>
      <%= article.body %>
    </div>
    <br>

  <% end %>
<% end %>

<%= link_to "NEW ARTICLE", new_article_path, class: "button" %>
