/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 *= require_self
 *= require index
 *= require new
 *= require show
 */



 body{
    margin: 0;
}
.header{
   width: 100%;
   height:50px;
   background-color: darkcyan;
   
   
}

.searchs{
   margin-left: 500px;
   padding: 7px;
   border:none;

   float:left;
}

.btn btn-primary{
   padding-top: 8px;
   cursor: pointer;
   
}
.footer{
 position: fixed;
 left: 0;
 bottom: 0;
 height:50px;
 width: 100%;
 background-color: darkcyan;
 color: white;
 text-align: center;
}

.flash{
     background-color: #f89406;
     border-color: #e96506;
     color: #ffffff;
     text-align: center;
     margin:15px;
     border-radius: 10px;
}
.navbar_email{
   text-align: right;
   margin-top: 0px;
   padding-top: 12px;
}
label.string{
   display: none;
}
div.search_title{
   float:left;
}
form.simple_form{
   float: left;
}