h1{
    color: darkorchid;
    text-align: center;
}
.container{
    margin: auto;
    word-break: break-word;
    width: 30%;
    height:100%;
    border:2px solid black;
    box-align: centre;
    text-decoration: none;
    padding:8px;
    border-radius: 10px;
}

.results{
    text-align: center;
    padding-top:2%;
}
.container:hover{
    background-color:lightgray;
}

.button{
    
    background-color:gray;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding:10px;
    border-radius: 5px;
    
    position: absolute;
    left:44%;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    
}

.button:hover{
    background-color: white;
    color: black;
    border: 12px red;
}


.signup{
    text-align: center;
}

/* .submit{
    width:200px;
} */

.create_post{
    width:100px;
    margin-left:10px;
    margin-top: 2px;
    width: 70px;
    height: 30px;
    border-radius: 20px;
}

.createi{
    width:70px;
}